<div class="container">
    <div style="text-align:center">
      <h1 style="text-align:center; color:#6f42c1">Contact Us</h1>
      <p style=" color:orange" >Visit us for a cup of coffee, or leave us a message</p>
    </div>
    
      <div class="column">
        <form action="/action_page.php">
          <input type="text" id="name" name="name" placeholder="Your Name..">
          <input type="text" id="email" name="email" placeholder="Your Email..">
          <input type="text" id="subject" name="subject" placeholder="Your Subject..">
          <textarea type="text" id="email" name="message" placeholder="Write Your Message.." style="height:170px"></textarea>
          <input type="submit" value="Send">
        </form>
        
      </div>
      <div class="row">
      <div class="column">
         
              
                  <h2 style="text-align:center; color:#6f42c1">Get In Touch</h2>
                  <p style="color:orange"> Address: 68 Josip Tito St, Nozha, cairo
                  <br>
  Phone:01015111519/01050188464
  
  <br>
  Email:Info@shareex.com</p>
                  <h2 style="text-align:center; color:#6f42c1" >Bussnies Hour</h2>
                  <p style="color:orange"> Saturday – Thursday 8am to 5pm
          <br>        
  Friday – Closed</p>
                  <iframe style="border: 2px solid #6f42c1;border-radius: 14px;box-shadow: 0 4px 8px 0; color:orange"src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14435.693213762974!2d55.270368!3d25.2395081!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd1925a0e86e51b8b!2z2YTYp9mEINmC2YTYudip!5e0!3m2!1sar!2seg!4v1609339413398!5m2!1sar!2seg" width="100%" height="200px" frameborder="0" style="border:0;" ></iframe>
              
      
      </div>
    </div>
  </div>
