<div class="small-container">
            
    <div class="row">
     <div class=" card">
         <img class="img-thumbnail"[src]="selectedContact.avatar" style="width:500px" />
         <div class="card-body text-center">
             <h4  class="card-title">{{selectedContact.first_name}}</h4>
             <h4  class="card-title">{{selectedContact.last_name}}</h4>
             <p class="card-text">{{selectedContact.email}}</p>
             
         </div>
     </div>
      
       
        </div>
       
        
    </div>